#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #d4a373;
    -fx-font-family: "Segoe UI Semibold";
}

#copyButton:armed {
    -fx-background-color: derive(#d4a373, -10%);
}

#helpMessageContainer {
    -fx-background-color: derive(#faedcd, -10%);
}
#helpMessage {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12pt;
}
